<center> <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BITS Pilani Logo" /> </center>

<font color='green'> <h1> <center> Python - Sets </center> </h1> </font>

A set is a unique collection of objects in Python. It can be denoted with a curly bracket {}. Duplicate will be removed.

<b>Creation<b>

Set is created with {} brackets.

In [62]:
empty_set = {}
empty_set

{}

Set can have elements in it.

In [2]:
my_set = {'a' , 'b', 'c'}
my_set

{'a', 'b', 'c'}

If Set elements are duplicate then they are removed automatically

In [4]:
my_set = {'a' , 'b', 'c', 'a' , 'b', 'c'}   # set elements are duplicate and removed automatically
my_set

{'a', 'b', 'c'}

Set elements can be of mixed type.

In [6]:
my_mixed_set = {1, '1', 2, '2', 3, '3', '3', 1.1, True} 
my_mixed_set

{1, '1', 1.1, 2, '2', 3, '3'}

Type of set variable can be checked with type()

In [8]:
type(my_set)

set

Type of individual set elements can be testd with type() on those elements.

Size of set can be determined using len().

In [12]:
len(my_set)

3

<b>Creation of set from list<b>

Set can be created from list of elements.

In [17]:
my_list = [1, '1', 2, '2', 3, 3, 3, '3', '4', 4]  #create a list from which set needs to be formed
my_list

[1, '1', 2, '2', 3, 3, 3, '3', '4', 4]

In [19]:
my_new_set = set(my_list)   # set can be created from list, duplicates are removed 
my_new_set

{1, '1', 2, '2', 3, '3', '4', 4}

<b>Conversion of set to list <b>

In [28]:
my_set = {'mumbai', 'pune', 'solapur'}  #create a set of cities
print(my_set)
print(type(my_set))

{'solapur', 'mumbai', 'pune'}
<class 'set'>

In [29]:
my_new_list = list(my_set) # use list() to convert a set into list
print(my_new_list)
print(type(my_new_list))

['solapur', 'mumbai', 'pune']
<class 'list'>

<b>Operations on set<b>

add() can be used to add an element into set.

In [32]:
country_set = {"India", "US", "US", "India"}
country_set   #set has only two elements "India" and "US"

{'India', 'US'}

In [38]:
country_set.add('UK')
country_set  #set has three elements "India" ,"US" & "UK"

{'India', 'UK', 'US'}

remove() can be used to remove an element from the set.

In [37]:
country_set.remove("UK")  # remove 
country_set  #set has only two elements "India" and "US"

{'India', 'US'}

In [63]:
country_set.remove("China")  # as China not present in the set, error thrown

KeyError: 'China'

discard() can be used to remove an element from set. If element is not present, then error is not thrown.

In [64]:
country_set.discard("China")

pop() operation can be used to remove the first element from the set.

In [70]:
test_set = {1, 2, 3, 4, 5}

In [71]:
test_set.pop()   # removes first element from set i.e. 1
test_set

{2, 3, 4, 5}

In [73]:
test_set.pop()   # removes first element from set i.e. 2, set is altered by this operation
test_set

{4, 5}

clear() can be used to remove all the elements of set.

In [78]:
test_set = {4, 5, 6}
test_set

{4, 5, 6}

In [80]:
test_set.clear()
test_set

set()

'in' and 'not in' can be used to determine if the element is present in set or not

In [39]:
"India" in country_set

True

In [40]:
"Australia" in country_set

False

In [41]:
"India" not in country_set

False

In [42]:
"Australia" not in country_set

True

<b> Working with sets<b>

'&' operator can be used to determine common elements of two or more sets

In [48]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [45]:
maharashtra_cities & western_region_cities  # common cities between two sets

{'Mumbai', 'Nagpur', 'Pune'}

In [50]:
goa_cities & western_region_cities  # common cities between two sets

{'Panjim', 'Vasco'}

In [49]:
maharashtra_cities & goa_cities  # common cities between two sets, nothing common

set()

intersection() method can also be used to determine the common elements between two sets.

In [55]:
western_region_cities.intersection(maharashtra_cities)

{'Mumbai', 'Nagpur', 'Pune'}

In [56]:
western_region_cities.intersection(goa_cities)

{'Panjim', 'Vasco'}

'-' opearator can be used to determine the elements which are only present in set1.

In [74]:
western_region_cities - maharashtra_cities

{'Panjim', 'Vasco'}

In [75]:
western_region_cities - goa_cities

{'Mumbai', 'Nagpur', 'Pune'}

In [76]:
maharashtra_cities  - goa_cities

{'Mumbai', 'Nagpur', 'Pune'}

difference method() can be used to determine the elements which are part of set 1 only, not present in set 2.

In [53]:
western_region_cities.difference(maharashtra_cities)

{'Panjim', 'Vasco'}

In [ ]:
western_region_cities.difference(maharashtra_cities)

'|' operator can be used to get all cities from both sets

In [47]:
maharashtra_cities | western_region_cities  # all cities between two sets

{'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [57]:
maharashtra_cities | goa_cities  # all cities between two sets

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

union() method can be used to get all the elements from both sets.

In [58]:
maharashtra_cities.union(goa_cities)

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

# Exercise

Q1.  Consider following set definitions. <br>
     language set - python, java, c, c++ <br>
     data science language set - pytho, r <br>
     
     Answer the following questions with help of appropriate code. 
     (a) What are all programming languages are available?
     (b) How many data science languages are available?
     (c) List languages which are not data science languages?
     (d) List languages which are both programming language and data science languages.
     (e) List languges which are only data science languages.

In [2]:
#Try it here
language_set = {"python", "java", "c", "c++"}
ds_lang_set = {"python", "r"}

# a
print(len(language_set.union(ds_lang_set)))

# b
print(len(ds_lang_set))

# c
print(language_set - ds_lang_set)

# d
print(language_set & ds_lang_set)

# e
print(ds_lang_set - language_set)

5
2
{'c++', 'c', 'java'}
{'python'}
{'r'}

#### Answer

In [97]:
#Q1. Solution

languages = {'python', 'java', 'c', 'c++'}
ds_languages = {"python", 'r'}

#(a) What are all programming languages are available?
print("All languages    " , languages | ds_languages)
print()

#(b) How many data science languages are available?
print("Data Science languages count   " , len(ds_languages))
print()

#(c) List languages which are not data science languages?
print("Languages which are not data science languages    " , languages - ds_languages)
print()

#(d) List languages which are both programming language and data science languages.
print("languages which are both programming language and data science languages    " , languages & ds_languages)
print()


#(e) List languges which are only data science languages.
print("Only data science languages    " , ds_languages - languages)
print()

All languages     {'c++', 'java', 'c', 'r', 'python'}

Data Science languages count    2

Languages which are not data science languages     {'c', 'c++', 'java'}

languages which are both programming language and data science languages     {'python'}

Only data science languages     {'r'}